/* Apply a blue background color to the header */
body {
  background-color: #000000;
}

header {
  color: #fff;
}

/* Center the main content */
main {
  margin: 0 auto;
  color: #ffffff;
  background-color: #000000;
}

/* Apply a gray background color to the footer */
footer {
  background-color: #000000;
  color: #ffffff;
}
